html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(135deg, #667eea, #764ba2);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.main-content {
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.movie-catalog {
    padding-top: 2%;
    font-size: 42px;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.movie-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background: linear-gradient(90deg, rgba(184,73,249,1) 0%, rgba(93,21,135,1) 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie-card {
    width: 300px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

    .movie-card:hover {
        transform: scale(1.05);
        box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.4);
    }

    .movie-card img {
        width: 320px;
        height: 450px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .movie-card .card-body {
        padding: 25px;
        color: white;
    }

    .movie-card .card-title,
    .movie-card .card-text {
        margin-bottom: 15px;
        font-size: 16px;
    }

        .movie-card .card-title i,
        .movie-card .card-text i {
            margin-right: 10px;
            color: #ffcc00;
        }

.movie-gender,
.movie-year,
.movie-director {
    font-weight: 500;
    color: #ffcc00;
}

.btn-more-info {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

    .btn-more-info:hover {
        background: rgba(255, 255, 255, 0.3);
        transform: translateY(-2px);
    }
