@{
    ViewBag.HideLayout = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Página Inicial";
}

<link rel="stylesheet" href="~/css/views/home.css" />

<div class="container">
    <h1>Victor Movies!</h1>
    <p>Explore nossos conteúdos e aproveite!</p>
    <a href="/Movie/Movies" class="btn btn-light">Ir para outra página</a>
</div>

<!-- Modal (sempre presente no HTML principal) -->
<div class="modal fade" id="autoModal" tabindex="-1" aria-labelledby="autoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="autoModalLabel">Detalhes do Filme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-content">
                <!-- O conteúdo do filme será carregado aqui -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

