@{
    ViewBag.HideLayout = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Página Inicial";
}

<link rel="stylesheet" href="~/css/views/home.css" />

<div class="container">
    <h1>Victor Movies!</h1>
    <p>Explore nossos conteúdos e aproveite!</p>
    <a href="/Movie/Movies" class="btn btn-light">Ir para outra página</a>
</div>
