@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Movie List";
}

<link rel="stylesheet" href="~/css/views/movie.css" />

<div class="container movie-container">
    <h1 class="movie-title">Título do Filme</h1>
    <div class="card movie-card">
        <img src="https://via.placeholder.com/300x450" class="card-img-top" alt="Poster do Filme">
        <div class="card-body">
            <h5 class="card-title">Ano de Lançamento: <span class="movie-year">2024</span></h5>
            <p class="card-text">Diretor: <span class="movie-director">Nome do Diretor</span></p>
        </div>
    </div>
</div>
