@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Catálogo de Filmes";
}

<link rel="stylesheet" href="~/css/views/movie.css" />

<main class="main-content">
    <h1 class="movie-catalog">🎬 Catálogo de Filmes</h1>
    <div class="movie-list" id="movie-list">
    </div>
</main>

<script src="~/js/views/home/Movie.js"></script>